/* CSS Document */
@media all and (max-width: 900px){
	promos {
		width:auto;
		position: relative;
		padding:1em;			
	}
	.aside {
		height: auto;
		position: relative;	
		padding:1em;	
		width:auto;
	}	
	.article {
		margin-left:0px;
		margin-right:0px;
		padding:1em;
		min-height:auto;	
	}	
	footer {
		position: relative;
		padding:1em;
		padding:2em;
		width:auto;		
	}
	content {
		width:auto;
	}
	.small {
		color:#666666;
	}
	
	
}